.taskContent{
    display: flex;
    align-items: flex-start;
    gap: 0.75rem;
    padding: 0.875rem;
    background-color: var(--grey-500);
    border-radius: 8px;
    border: 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
}

.checkbox{
    position: relative;
    height: 100%;
}

.checkbox > input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    min-width: 1.125rem;
    height: 1.125rem;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px var(--blue);
    border-radius: 50%;
    transition: all 0.2s;
}

.checkbox input:hover{
    background-color: var(--blue-dark-opacity-20);
    box-shadow: inset 0px 0px 0px 2px var(--blue-dark-opacity-80);
}

.checkbox input:checked ~ label{
    transform: scale(1);
}

.checkbox label{
    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    display: grid;
    place-items: center;

    background-color: var(--purple-dark);
    border-radius: 50%;

    color: var(--gray-100);

    transform: scale(0);

    transition: all 0.2s;
}

.checkbox label:hover{
    background-color: var(--purple);
}

p {
    width: 100%;
    color: var(--grey-100);
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.4;

    transition: 0.2s;
}

p.complete {
    color: var(--grey-300);
    text-decoration: line-through;
}

button {
    display: grid;
    place-items: center;

    background: transparent;
    border: none;
    border-radius: 2px;
    color: var(--grey-300);
    transition: 0.2s;
    cursor: pointer;
}

button:hover{
    color: var(--danger);
}