.task {
    background-color: var(--grey-500);
    width: 100%;
    border-radius: 8px;
    border: 0;
    height: 5rem;
    margin-top: 0.75rem;
    display: flex;
    padding: 0.875rem;
    justify-content: space-between;
}

.taskContent {
    display: flex;
    flex-direction: row;
}

.task button {
    color: var(--grey-300);
    background: transparent;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: flex-start;
}

.task Circle {
    color: var(--blue);
}

.task p {
    color: var(--grey-100);
    font-size: 1rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}