.addNewtaskForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.addNewtaskForm input {
   width: 100%;
   padding: 1rem;
   background-color: var(--grey-500);
   color: var(--grey-300);
   border: transparent;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: normal;
   line-height: 1.4;
}

.addNewtaskForm input[type=text]:focus {
    outline: 0.0625rem solid var(--purple-dark);
    color: var(--grey-100);
}

.addNewtaskForm button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    padding: 1rem;
    border: transparent;
    border-radius: 8px;
    color: var(--grey-100);
    background-color: var(--blue-dark);
    transition: background-color 0.1s;
}

.addNewtaskForm button:hover{
    background: var(--blue);
}

/*

.addNewtaskForm input[type=text]:focus {
    outline: none;
    border: 2px solid var(--purple-dark);
    color: var(--grey-100);
}

.addNewtaskForm button svg{
    margin-left: 0.15rem;
}

.tasks {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 46rem;
    margin-top: 4rem;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.header strong {
    padding-right: 0.5rem;
}

.createdTasks{
    color: var(--blue)
}

.doneTasks{
    color: var(--purple);
}

.createdTasks span {
    background-color: var(--grey-400);
    color: var(--grey-200);
    padding:  0.1rem 0.6rem;
    border-radius: 9px;
}

.doneTasks span {
    background-color: var(--grey-400);
    color: var(--grey-200);
    padding:  0.1rem 0.6rem;
    border-radius: 9px;
}

.tasksContent p{
    color: var(--grey-300);
    font-size: 1rem;
}

.tasksContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}*/