.main {
    width: 100%;
    max-width: min(46rem, 100%);
    margin: 0 auto;
    margin-top: calc(0px - 1.5rem - 6px);
    padding: 0 16px;
  }

  .addNewtaskForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.addNewtaskForm input {
   width: 100%;
   padding: 1rem;
   background-color: var(--grey-500);
   color: var(--grey-300);
   border: transparent;
   border-radius: 8px;
   font-size: 1rem;
   font-weight: normal;
   line-height: 1.4;
}

.addNewtaskForm input[type=text]:focus {
    outline: 0.0625rem solid var(--purple-dark);
    color: var(--grey-100);
}

.addNewtaskForm button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    padding: 1rem;
    border: transparent;
    border-radius: 8px;
    color: var(--grey-100);
    background-color: var(--blue-dark);
    transition: background-color 0.1s;
}

.addNewtaskForm button:hover{
    background: var(--blue);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding-top: 4rem;
}

.header .createdTasks {
    color: var(--blue);
}

.header .doneTasks {
    color: var(--purple);
}

.createdTasks span {
    background-color: var(--grey-400);
    color: var(--grey-200);
    padding:  0.1rem 0.6rem;
    border-radius: 9px;
    font-size: 0.75rem;
    font-weight: bold;
}

.doneTasks span {
    background-color: var(--grey-400);
    color: var(--grey-200);
    padding:  0.1rem 0.6rem;
    border-radius: 9px;
    font-size: 0.75rem;
    font-weight: bold;
}

.tasksContainer{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}